<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>小区停车管理系统</display-name>

    <!-- 编码过滤器 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.parking.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 车卡服务 -->
    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>com.parking.servlet.CardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/card</url-pattern>
    </servlet-mapping>

    <!-- 停车服务 -->
    <servlet>
        <servlet-name>ParkingServlet</servlet-name>
        <servlet-class>com.parking.servlet.ParkingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParkingServlet</servlet-name>
        <url-pattern>/parking</url-pattern>
    </servlet-mapping>

    <!-- 查询服务 -->
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.parking.servlet.QueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>

    <!-- 收费服务 -->
    <servlet>
        <servlet-name>ChargeServlet</servlet-name>
        <servlet-class>com.parking.servlet.ChargeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChargeServlet</servlet-name>
        <url-pattern>/charge</url-pattern>
    </servlet-mapping>

    <!-- 默认首页 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
